<div class="p-10 ff-sans mt-10">
  <h1>Include MyLib in file</h1>
  <h2 class="low-fw ml-10 mt-10">Copy and paste the MyLib template on your file or project!</h2>
  <pre><code class="language-html">&lt;!DOCTYPE html>
&lt;html lang="en">
  &lt;head>
    &lt;meta charset="utf-8" />
    &lt;meta name="viewport" content="width=device-width, initial-scale=1" />
    &lt;style>
      @import url("lib.css");
      @import url("theme.css");
    &lt;/style>
    &lt;title>&lt;/title>
  &lt;/head>
  &lt;body>
    &lt;script src="script.js">&lt;/script>
    &lt;script src="theme.js">&lt;/script>
    &lt;script>&lt;/script>
  &lt;/body>
&lt;/html></code></pre>
  <h2 class="low-fw ml-10">Without theme.css and theme.js MyLib template.</h2>
  <pre><code class="language-html">&lt;!DOCTYPE html>
&lt;html lang="en">
  &lt;head>
    &lt;meta charset="utf-8" />
    &lt;meta name="viewport" content="width=device-width, initial-scale=1" />
    &lt;style>
      @import url("lib.css");
    &lt;/style>
    &lt;title>&lt;/title>
  &lt;/head>
  &lt;body>
    &lt;script src="script.js">&lt;/script>
    &lt;script>&lt;/script>
  &lt;/body>
&lt;/html></code></pre>
  <h2 class="low-fw ml-10">Normal template.</h2>
  <pre><code class="language-html">&lt;!DOCTYPE html>
&lt;html lang="en">
  &lt;head>
    &lt;meta charset="utf-8" />
    &lt;meta name="viewport" content="width=device-width, initial-scale=1" />
    &lt;title>MyLib&lt;/title>
  &lt;/head>
  &lt;body>
    &lt;h1>This is H1 tag&lt;/h1>
  &lt;/body>
&lt;/html></code></pre>
</div>