<div class="p-20 mt-10 text-center ff-sans">
  <span class="btn primary-btn">Version 1.0.0</span>
  <p class="mt-20">
    Copy and Paste navbar, sidenav, utility classes and more.
  </p>
  <img src="/assets/lib.png" alt="logo" class="big-img mt-20 mb-10">
  <h1>Build very fast website with MyLib</h1>
  <div class="div mt-20">
    <button routerLink="/components" class="btn primary-btn flex fz-20">
      <span class="material-icons">open_in_new</span>
      <span class="ml-3">Visit Our Components</span>
    </button>
  </div>
  <div class="div">
    <button class="btn primary-btn mt-10 flex fz-20">
      <span class="material-icons">download</span>
      <span routerLink="/installation" class="ml-3">Installation</span>
    </button>
  </div>
</div>