<div class="p-10 ff-sans">
  <h1>Installation</h1>
  <p class="mt-5">
    There are three ways to install lib.js and lib.css in your file or project.
  </p>
  <h2 class="mt-20">Npm</h2>
  <pre><code class="language-bash">npm i @atmosoftx/mylib</code></pre>
  <h2 class="mt-20">Yarn</h2>
  <pre><code class="language-bash">yarn add @atmosoftx/mylib</code></pre>
  <h2 class="mt-20">HTML</h2>
  <pre><code class="language-html">&lt;link rel="stylesheet" href="https://atmosoftx.github.io/lib/lib.css">&lt;/script></code></pre>
  <pre><code class="language-html">&lt;script src="https://atmosoftx.github.io/lib/lib.js">&lt;/script></code></pre>
  <h2 class="mt-20">Href</h2>
  <pre><code class="language-html">https://atmosoftx.github.io/lib/lib.js</code></pre>
  <pre><code class="language-html">https://atmosoftx.github.io/lib/lib.css</code></pre>
</div>